.speech {
    color: black;
    font-size: medium;
    font: 100;
}
.direction{
    color:black;
    font:200;
    font-size: small;
    background-color:cadetblue;
}
.direction:hover{
    background-color: bisque;
    color: aqua;
}
.kate{
    color:coral;
}
.ladysims{
    color:aquamarine;
}

table {
    border: 1px solid black;
    padding: 8px;
    color:black;
    text-align: center;
    margin: 30px;
    
}
th, td{
    border: 1px solid black;
    /**/

}

thead tr:nth-child(even) {
    background-color: grey;
    color:black;
}

tbody tr:nth-child(odd){
    background-color:grey;
    color: white;
}

